.header {
  padding: 1rem;
  width: calc(100% - 100px);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

  &.hidden {
    transform: translateY(-100%);
    opacity: 0;
  }

  &.visible {
    transform: translateY(0);
    opacity: 1;
  }

  .header-logo {
    margin-right: auto;
    img {
      max-height: 100px; // Adjust based on logo size
    }
  }

  .contact-link {
    margin-left: auto;
    background-color: $secondary-color;
    border-radius: 20px;
    padding: 8px;
    transition: background-color 0.3s ease;
    a {
      color: #fff;
      text-decoration: none;
      font-size: 20px;
      padding: 8px 15px;
      

      
    }
    &:hover {
      background-color: $primary-color;
    }
  }

  nav {
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      gap: 2rem;

      li {
        position: relative;

        a {
          color: #fff;
          text-decoration: none;
          font-size: 20px;
          transition: color 0.3s ease;

          &:hover {
            color: $secondary-color; // Define this variable as needed
          }
        }

        &.has-submenu {
          &:hover .submenu {
            display: block;
          }

          .submenu {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            background-color: rgba(51, 51, 51, 0.8);
            list-style-type: none;
            padding: 10px 0;
            border-radius: 8px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

            li {
              padding: 8px 15px;
              a {
                color: #fff;
                text-decoration: none;
              }
            }
          }
        }
      }
    }

    @media (max-width: 768px) {
      ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        background-color: rgba(51, 51, 51, 0.8);
        width: 100%;
        border-radius: 0 0 10px 10px;

        li {
          padding: 1rem;
          text-align: center;

          a {
            width: 100%;
          }
        }
      }
    }
  }

  &.nav-active nav ul {
    display: flex;
  }

  .hamburger {
    display: none;
    flex-direction: column;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    div {
      width: 24px;
      height: 2px;
      background: #fff;
      border-radius: 10px;
      transition: all 0.3s;
      transform-origin: 1px;
    }

    &.active div:nth-child(1) {
      transform: rotate(45deg);
    }

    &.active div:nth-child(2) {
      opacity: 0;
      transform: translateX(20px);
    }

    &.active div:nth-child(3) {
      transform: rotate(-45deg);
    }

    @media (max-width: 768px) {
      display: flex;
    }
  }
}
